<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
        include style.css
</head>
<body>
    <div class="nav">
        img(src="/static/img/logo.png")
        p DA
        //- <image src="C:\Users\K.HARSHITH\Desktop\CWH\nodejs\dancesite\image\logo.png">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </div>

    <div class="con">
        <h1>Welcome To Dance Academy</h1>
    </div>
    <div class="mission">
        <h4>Our Missions</h4>
        <div class="boxes">
            <div class="box">
            bhargav
            </div>
            <div class="box">
             Manasa
            </div>
            <div class="box">
            bhargav
            </div>
        </div>
    </div>
    <div class="sponcers">
        <h4>Our Sponcers</h4>
        <div class="image">
            a(href="https://twitter.com/harshith2410?t=Dsfpk58V-vzg2WPbnaQNOw&s=08")
                img(src="/static/img/logo1.png")
            img(src="/static/img/logo2.png")
            img(src="/static/img/logo3.png")
            img(src="/static/img/logo4.png")
        </div>
    </div>
    <div class="contact">
        <form method="post">
            <input type="text" name="name" placeholder="Username">
            <input type="text" name="pass" placeholder="Password">
            <input type="text" name="add" placeholder="Adress">
            <input type="text" name="remarks" placeholder="Remarks">
            <button name="btn">Submit</button>
        </form>
    </div>
    <div class="copy">
        <p>copyright<sup>&reg;</sup>All Rights Reserved</p>
    </div>
</body>
</html>
